<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Add a new task</h1>
      <div class="card">
        <%= render 'form' %>
      </div>
    </div>

    <div class="actions-container py-4 d-flex justify-content-center">
      <%= link_to tasks_path do %>
        <div id="back-button" class="task-button rounded-circle d-flex align-items-center justify-content-center mx-2">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
